{% extends "discount_cards/base.html" %}
{% spaceless %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% load cache %}

{% block title %}{% trans "discount_card_list" %}{% endblock title %}

{% block content %}
<main>
  <div class="container">
    <div class="row pt-3 pb-3">
      <div class="col-md-12 d-sm-flex text-center justify-content-center">
        <h1 class="h2">{% trans "discount_card_list" %}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <table class="table">
          <tr>
            <thead class="thead-light">
              <tr>
                <th scope="col">{% trans "discount_card.seria" %}</th>
                <th scope="col">{% trans "discount_card.number" %}</th>
                <th scope="col">{% trans "discount_card.end_date" %}</th>
                <th scope="col">{% trans "discount_card.status" %}</th>
                <th scope="col">{% trans "discount_card.button_details" %}</th>
                <th scope="col">{% trans "discount_card.button_edit" %}</th>
                <th scope="col">{% trans "discount_card.button_delete" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for card in cards %}
              <tr data-row="">
                <td>{{ card.seria }}</td>
                <td>{{ card.number }}</td>
                <td>{{ card.end_date }}</td>
                <td>
                {% if card.status %}
                  {% trans "discount_card.active" %}
                {% else %}
                  {% trans "discount_card.not_active" %}
                {% endif %}
                </td>
                <td><a class="btn btn-dark text-white" href="{% url 'discount_cards:card_detail' card.id %}">{% trans "discount_cards.card_detail" %}</a></td>
                <td><a class="btn btn-dark text-white" href="{% url 'discount_cards:edit_card' card.id %}">{% trans "discount_cards.edit_card" %}</a></td>
                <td><button class="btn btn-danger text-white delete-btn" data-id="{{ card.id }}" data-name="Серия {{ card.seria }}, Номер {{ card.number }}" data-delete-url="{% url 'core:discount-card-detail' card.id %}">{% trans 'discount_cards.delete_card' %}</button></td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
          {% include "_pagination.html" %}
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% endspaceless %}
